@import './header.scss';
@import './form.scss';
@import './weather.scss';

* {
  margin: 0;
}

.card-white {
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.36);
  display: block;
  margin-bottom: 10px; 
  padding: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}
.App{
  text-align: center;
}
.container{
  display: inline-block;
}
